body {background-color: #c33cff;
    background-image: linear-gradient(90deg, #c33cff 0%, #000000 30%, #040404 70%, #c33cff 99%);
    
    }

h1{
    font-size: 50px;
    text-align: center;
    color: rgb(246, 242, 248);text-transform: uppercase;
    
}